# 4. Pre-Processing and Training Data Development

The Data Science Method

1.Problem Identification

2.Data Wrangling

3.Exploratory Data Analysis

4.Pre-processing and Training Data Development

* Create dummy or indicator features for categorical variables
* Standardize the magnitude of numeric features
* Split into testing and training datasets
*  Apply scaler to the testing set
    
5.Modeling

* Fit Models with Training Data Set
* Review Model Outcomes — Iterate over additional models as needed.
* Identify the Final Model

6.Documentation
* Review the Results
* Present and share your findings - storytelling
* Finalize Code
* Finalize Documentation

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
print(os.getcwd())
df = pd.read_csv('data/step3_output.csv', index_col='Unnamed: 0')
print(df.shape)
df.head(5)

C:\Users\Sanjay\1Springboard\Springboard\Springboard\Guided-capstone-Unit-6
(165, 26)

,Name,state,summit_elev,vertical_drop,trams,fastEight,fastSixes,fastQuads,quad,triple,...,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac,clusters
2,Hilltop Ski Area,Alaska,2090,294,0.0,0.0,0.0,0,0,1,...,30.0,30.000000,150.000000,36.0,69.0,30.000000,34.00000,152.0,30.000000,0
4,Sunrise Park Resort,Arizona,11100,1800,0.0,0.0,0.0,1,2,3,...,800.0,80.000000,115.000000,49.0,250.0,74.000000,78.00000,104.0,80.000000,1
5,Yosemite Ski & Snowboard Area,California,7800,600,0.0,0.0,0.0,0,0,1,...,88.0,174.873239,110.000000,84.0,300.0,47.000000,47.00000,107.0,100.395722,1
10,Donner Ski Ranch,California,8012,750,0.0,0.0,0.0,0,0,1,...,505.0,60.000000,163.000000,82.0,400.0,75.000000,75.00000,170.0,100.395722,1
12,June Mountain,California,10090,2590,0.0,0.0,0.0,2,0,0,...,1500.0,174.873239,115.103943,58.0,250.0,57.916957,64.16681,128.0,100.395722,1

In [3]:
#Create dummy variables for state. Add the dummies back to the dataframe and remove the original column for state.
df = pd.concat([df.drop(['state'], axis=1), pd.get_dummies(df[['state']])], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 2 to 329
Data columns (total 60 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  165 non-null    object
 1   summit_elev           165 non-null    int64
 2   vertical_drop         165 non-null    int64
 3   trams                 165 non-null    float64
 4   fastEight             165 non-null    float64
 5   fastSixes             165 non-null    float64
 6   fastQuads             165 non-null    int64
 7   quad                  165 non-null    int64
 8   triple                165 non-null    int64
 9   double                165 non-null    int64
 10  surface               165 non-null    int64
 11  total_chairs          165 non-null    int64
 12  Runs                  165 non-null    float64
 13  TerrainParks          165 non-null    float64
 14  LongestRun_mi         165 non-null    float64
 15  SkiableTerrain_ac     165 non-null    float64
 16  Snow Making_ac        165 non-null    float64
 17  daysOpenLastYear      165 non-null    float64
 18  yearsOpen             165 non-null    float64
 19  averageSnowfall       165 non-null    float64
 20  AdultWeekday          165 non-null    float64
 21  AdultWeekend          165 non-null    float64
 22  projectedDaysOpen     165 non-null    float64
 23  NightSkiing_ac        165 non-null    float64
 24  clusters              165 non-null    int64
 25  state_Alaska          165 non-null    uint8
 26  state_Arizona         165 non-null    uint8
 27  state_California      165 non-null    uint8
 28  state_Colorado        165 non-null    uint8
 29  state_Connecticut     165 non-null    uint8
 30  state_Idaho           165 non-null    uint8
 31  state_Illinois        165 non-null    uint8
 32  state_Indiana         165 non-null    uint8
 33  state_Iowa            165 non-null    uint8
 34  state_Maine           165 non-null    uint8
 35  state_Maryland        165 non-null    uint8
 36  state_Massachusetts   165 non-null    uint8
 37  state_Michigan        165 non-null    uint8
 38  state_Minnesota       165 non-null    uint8
 39  state_Missouri        165 non-null    uint8
 40  state_Montana         165 non-null    uint8
 41  state_Nevada          165 non-null    uint8
 42  state_New Hampshire   165 non-null    uint8
 43  state_New Jersey      165 non-null    uint8
 44  state_New Mexico      165 non-null    uint8
 45  state_New York        165 non-null    uint8
 46  state_North Carolina  165 non-null    uint8
 47  state_Ohio            165 non-null    uint8
 48  state_Oregon          165 non-null    uint8
 49  state_Pennsylvania    165 non-null    uint8
 50  state_Rhode Island    165 non-null    uint8
 51  state_South Dakota    165 non-null    uint8
 52  state_Tennessee       165 non-null    uint8
 53  state_Utah            165 non-null    uint8
 54  state_Vermont         165 non-null    uint8
 55  state_Virginia        165 non-null    uint8
 56  state_Washington      165 non-null    uint8
 57  state_West Virginia   165 non-null    uint8
 58  state_Wisconsin       165 non-null    uint8
 59  state_Wyoming         165 non-null    uint8
dtypes: float64(15), int64(9), object(1), uint8(35)
memory usage: 39.2+ KB

In [4]:
df=pd.concat([df,dfo],axis=1)
df=df.drop(['state'],axis=1)

In [4]:
cols = df.select_dtypes(np.uint8).columns
df[cols] = df[cols].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 2 to 329
Data columns (total 60 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  165 non-null    object
 1   summit_elev           165 non-null    int64
 2   vertical_drop         165 non-null    int64
 3   trams                 165 non-null    float64
 4   fastEight             165 non-null    float64
 5   fastSixes             165 non-null    float64
 6   fastQuads             165 non-null    int64
 7   quad                  165 non-null    int64
 8   triple                165 non-null    int64
 9   double                165 non-null    int64
 10  surface               165 non-null    int64
 11  total_chairs          165 non-null    int64
 12  Runs                  165 non-null    float64
 13  TerrainParks          165 non-null    float64
 14  LongestRun_mi         165 non-null    float64
 15  SkiableTerrain_ac     165 non-null    float64
 16  Snow Making_ac        165 non-null    float64
 17  daysOpenLastYear      165 non-null    float64
 18  yearsOpen             165 non-null    float64
 19  averageSnowfall       165 non-null    float64
 20  AdultWeekday          165 non-null    float64
 21  AdultWeekend          165 non-null    float64
 22  projectedDaysOpen     165 non-null    float64
 23  NightSkiing_ac        165 non-null    float64
 24  clusters              165 non-null    int64
 25  state_Alaska          165 non-null    float64
 26  state_Arizona         165 non-null    float64
 27  state_California      165 non-null    float64
 28  state_Colorado        165 non-null    float64
 29  state_Connecticut     165 non-null    float64
 30  state_Idaho           165 non-null    float64
 31  state_Illinois        165 non-null    float64
 32  state_Indiana         165 non-null    float64
 33  state_Iowa            165 non-null    float64
 34  state_Maine           165 non-null    float64
 35  state_Maryland        165 non-null    float64
 36  state_Massachusetts   165 non-null    float64
 37  state_Michigan        165 non-null    float64
 38  state_Minnesota       165 non-null    float64
 39  state_Missouri        165 non-null    float64
 40  state_Montana         165 non-null    float64
 41  state_Nevada          165 non-null    float64
 42  state_New Hampshire   165 non-null    float64
 43  state_New Jersey      165 non-null    float64
 44  state_New Mexico      165 non-null    float64
 45  state_New York        165 non-null    float64
 46  state_North Carolina  165 non-null    float64
 47  state_Ohio            165 non-null    float64
 48  state_Oregon          165 non-null    float64
 49  state_Pennsylvania    165 non-null    float64
 50  state_Rhode Island    165 non-null    float64
 51  state_South Dakota    165 non-null    float64
 52  state_Tennessee       165 non-null    float64
 53  state_Utah            165 non-null    float64
 54  state_Vermont         165 non-null    float64
 55  state_Virginia        165 non-null    float64
 56  state_Washington      165 non-null    float64
 57  state_West Virginia   165 non-null    float64
 58  state_Wisconsin       165 non-null    float64
 59  state_Wyoming         165 non-null    float64
dtypes: float64(50), int64(9), object(1)
memory usage: 78.6+ KB

In [5]:
df.nunique()

Name                    165
summit_elev             139
vertical_drop           100
trams                     1
fastEight                 1
fastSixes                 1
fastQuads                 3
quad                      3
triple                    6
double                    7
surface                   7
total_chairs             14
Runs                     56
TerrainParks              5
LongestRun_mi            25
SkiableTerrain_ac       101
Snow Making_ac           71
daysOpenLastYear         66
yearsOpen                53
averageSnowfall          66
AdultWeekday             55
AdultWeekend             54
projectedDaysOpen        54
NightSkiing_ac           47
clusters                  3
state_Alaska              2
state_Arizona             2
state_California          2
state_Colorado            2
state_Connecticut         2
state_Idaho               2
state_Illinois            2
state_Indiana             2
state_Iowa                2
state_Maine               2
state_Maryland            2
state_Massachusetts       2
state_Michigan            2
state_Minnesota           2
state_Missouri            2
state_Montana             2
state_Nevada              2
state_New Hampshire       2
state_New Jersey          2
state_New Mexico          2
state_New York            2
state_North Carolina      2
state_Ohio                2
state_Oregon              2
state_Pennsylvania        2
state_Rhode Island        2
state_South Dakota        2
state_Tennessee           2
state_Utah                2
state_Vermont             2
state_Virginia            2
state_Washington          2
state_West Virginia       2
state_Wisconsin           2
state_Wyoming             2
dtype: int64

## Standardize the magnitude of numeric features

Using sklearn preprocessing standardize the scale of the features of the dataframe except the name of the resort which we done't need in the dataframe for modeling, so it can be droppped here as well. Also, we want to hold out our response variable(s) so we can have their true values available for model performance review. Let's set <b> AdultWeekend </b> to the y variable as our response for scaling and modeling. Later we will go back and consider the <b> AdultWeekday, dayOpenLastYear, and projectedDaysOpen </b>. For now leave them in the development dataframe.

In [6]:
# first we import the preprocessing package from the sklearn library
from sklearn import preprocessing

# Declare an explanatory variable, called X,and assign it the result of dropping 'Name' and 'AdultWeekend' from the df
X = df.drop(['Name','AdultWeekend', 'trams', 'fastEight', 'fastSixes'], axis=1) # I will also drop 'trams', 'fastEight', 'fastSixes' because they do not have values

# Declare a response variable, called y, and assign it the AdultWeekend column of the df 
y = df['AdultWeekend'] 

# Here we use the StandardScaler() method of the preprocessing package, and then call the fit() method with parameter X 
scaler = preprocessing.StandardScaler().fit(X)

# Declare a variable called X_scaled, and assign it the result of calling the transform() method with parameter X 
X_scaled = scaler.transform(X)

## Split into training and testing datasets

Using sklearn model selection import train_test_split, and create a 75/25 split with the y = <b>AdultWeekend</b>. We will start by using the adult weekend ticket price as our response variable for modeling.

In [7]:
# Import the train_test_split function from the sklearn.model_selection utility.  
from sklearn.model_selection import train_test_split

# Get the 1-dimensional flattened array of our response variable y by calling the ravel() function on y
y = y.ravel()

# Call the train_test_split() function with the first two parameters set to X_scaled and y 
# Declare four variables, X_train, X_test, y_train and y_test separated by commas 
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

Here we start the actual modeling work. First let's fit a multiple linear regression model to predict the `AdultWeekend` price.

# Step 5. Modeling

In this exercise, you'll build three different models and compare each model's performance. In the end, you'll choose the best model for demonstrating insights to Big Mountain management.

## The Data Science Method

1. Problem Identification

2. Data Wrangling

3. Exploratory Data Analysis

4. Pre-processing and Training Data Development

5. Modeling
    
    * Fit Models with Training Data Set
    * Review Model Outcomes — Iterate over additional models as needed.
    * Identify the Final Model

6. Documentation

    * Review the Results
    * Present and share your findings - storytelling
    * Finalize Code
    * Finalize Documentation

## Fit Models with a Training Dataset

Using sklearn, fit the model on your training dataset

<b>Model 1 </b>

In [8]:
#all first model set
from sklearn import linear_model
from sklearn.metrics import explained_variance_score, mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

Predict on the testing dataset and score the model performance with the y_test set and the y-pred values. The explained variance is a measure of the variation explained by the model. This is also known as the R-squared value.

Hint: you will have to use the predict() method

In [9]:
# Make a variable called y_pred and assign it the result of calling predict() on our model variable with parameter X_test
y_pred = model.predict(X_test)

## Review Model Outcomes — Iterate over additional models as needed

In [10]:
# You might want to use the explained_variance_score() and mean_absolute_error() metrics.
# To do so, you will need to import them from sklearn.metrics. 
# You can plug y_test and y_pred into the functions to evaluate the model

var_score = explained_variance_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)

In [11]:
var_score,mae

(-8.631061938546082e+23, 2863585276480.618)

Print the intercept value from the linear model.

Hint: our linear regression model lm has an attribute intercept_ for the intercept

In [12]:
intercept = lm.intercept_
intercept

-728912615773.5803

The intercept is the mean <b>AdultWeekend</b> price for all the resorts given the other characteristics. The addition or subtraction of each of the coefficient values in the regression are numeric adjustments applied to the intercept to provide a particular observation's value for the resulting <b>AdultWeekend</b> value. Also, because we took the time to scale our x values in the training data, we can compare each of the coeeficients for the features to determine the feature importances. Print the coefficient values from the linear model and sort in descending order to identify the top ten most important features.


Hint: make sure to review the absolute value of the coefficients, because the adjustment may be positive or negative, but what we are looking for is the magnitude of impact on our response variable.

In [13]:
# You might want to make a pandas DataFrame displaying the coefficients for each state like so: 
coeffs = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coeffs.sort_values('Coefficient', ascending=False).head(10)

                      Coefficient
total_chairs         4.267946e+13
surface              2.442169e+13
double               2.347462e+13
triple               2.021485e+13
state_New York       1.829169e+13
state_Michigan       1.729775e+13
state_New Hampshire  1.500912e+13
state_Pennsylvania   1.435702e+13
state_Wisconsin      1.435702e+13
state_California     1.292389e+13

### Model 2

You should see that the top ten important features are different states. However, the state is not something the managers at the Big Mountain Resort can do anything about. Given that we care more about actionable traits associated with ticket pricing, rebuild the model without the state features and compare the results.

Hint: Try to construct another model using exactly the steps we followed above.

In [14]:
states_columns = df.loc[:, 'state_Alaska':]

In [15]:
df = df.drop(states_columns.columns, axis=1) # removing dummies

X = df.drop(['Name','AdultWeekend'], axis=1)

y = df.AdultWeekend 

scaler = preprocessing.StandardScaler().fit(X)

X_scaled=scaler.transform(X)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 165 entries, 2 to 329
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   summit_elev        165 non-null    int64
 1   vertical_drop      165 non-null    int64
 2   trams              165 non-null    float64
 3   fastEight          165 non-null    float64
 4   fastSixes          165 non-null    float64
 5   fastQuads          165 non-null    int64
 6   quad               165 non-null    int64
 7   triple             165 non-null    int64
 8   double             165 non-null    int64
 9   surface            165 non-null    int64
 10  total_chairs       165 non-null    int64
 11  Runs               165 non-null    float64
 12  TerrainParks       165 non-null    float64
 13  LongestRun_mi      165 non-null    float64
 14  SkiableTerrain_ac  165 non-null    float64
 15  Snow Making_ac     165 non-null    float64
 16  daysOpenLastYear   165 non-null    float64
 17  yearsOpen          165 non-null    float64
 18  averageSnowfall    165 non-null    float64
 19  AdultWeekday       165 non-null    float64
 20  projectedDaysOpen  165 non-null    float64
 21  NightSkiing_ac     165 non-null    float64
 22  clusters           165 non-null    int64
dtypes: float64(14), int64(9)
memory usage: 30.9 KB

In [17]:
y = y.ravel()

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [18]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [19]:
y_pred = model.predict(X_test)

In [20]:
var_score2 = explained_variance_score(y_test, y_pred)
mae2 = mean_absolute_error(y_test, y_pred)
var_score2, mae2

(0.618517122635093, 6.552493404471818)

In [21]:
intercept2 = lm.intercept_
intercept2

56.36835312849733

In [22]:
coeffs2 = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coeffs2.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday         11.696138
summit_elev           3.236984
daysOpenLastYear      2.539725
vertical_drop         1.950361
clusters              1.846194
averageSnowfall       1.800047
projectedDaysOpen     1.393011
surface               1.339016
quad                  1.245524
double                0.926157

**<font color='teal'> When reviewing our new model coefficients, we see `summit_elev` is now in the number two spot. This is also difficult to change from a management prespective and highly correlated with `base_elev` and `vertical_drop`.  This time, rebuild the model without the state features and without the `summit_elev` and without `base_elev`and compare the results. </font>**

## Model 3

In [23]:
X = df.drop(['Name', 'summit_elev', 'AdultWeekend'], axis=1) 

y = df.AdultWeekend 

scaler = preprocessing.StandardScaler().fit(X)

X_scaled=scaler.transform(X)

In [24]:
y = y.ravel()

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.25, random_state=1)

In [25]:
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [26]:
y_pred = model.predict(X_test)

In [27]:
var_score3 = explained_variance_score(y_test, y_pred)
mae3 = mean_absolute_error(y_test, y_pred)
var_score3, mae3

(0.5888760458066826, 6.847870429247384)

In [28]:
intercept3 = lm.intercept_
intercept3

56.37106827594836

In [29]:
coeffs3 = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'])
coeffs3.sort_values('Coefficient', ascending=False).head(10)

                   Coefficient
AdultWeekday         11.414365
averageSnowfall       2.639338
vertical_drop         2.339447
daysOpenLastYear      2.025792
SkiableTerrain_ac     1.697329
double                1.159907
clusters              1.123829
quad                  1.083022
surface               1.015996
projectedDaysOpen     0.905010

Identify the Final Model
Review the model performances in the table below and choose the best model for proving insights to Big Mountain management about what features are driving ski resort lift ticket prices. Type your choice in the final markdown cell — you will discuss this selection more in the next step of the guided casptone.

# Identify the final model

| Model | Explained Variance| Mean Absolute Error|Features Dropped|
| --- | --- | --- | --- |
| Model 1.| -0.17841467924139098 0. |8.600786253317091  |-|
| Model 2. |0.19761659532526288 0.|7.470076646743068 |'state'|
| Model 3. |0.1526587682672247 0. |7.414692188987168 |'state','summit_elev','base_elev'|

#### Model 3 because it has less mean absolute error and high explained variance.