# Step 2 Data Wrangling
##### This step consists of multiple components including Data Collection, Data Organization, Data Definitions, and Data Cleaning.

<b>The Data Science Method</b>

1.Problem Identification

2.Data Wrangling
    - Data Collection
        - Locating the data
        - Data loading
        - Data joining
    -Data Organization
        -File structure
        -Git & Github
        
    -Data Definition
        -Column names
        -Data types (numeric, categorical, timestamp, etc.)
        -Description of the columns
        -Count or percent per unique values or codes (including NA)
        -The range of values or codes


    -Data Cleaning
        -NA or missing data
        -Duplicates
    

3.   Exploratory Data Analysis

4. Pre-processing and Training Data Development

5. Modeling
5. Documentation

In [1]:
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [2]:
os.getcwd()

'C:\\Users\\SANJAY\\Springboard\\Guided-capstone-Unit-6'

In [3]:
os.listdir()
#path=             //update the dir location
#os.chdir(path)    //change the directory to access files if any.

['.ipynb_checkpoints',
 'data',
 'figures',
 'Guided-Capstone-Data-Wrangling.ipynb',
 'models',
 'ski_data_dict.png',
 'updated_ski_data.csv']

<b>Load the data from the csv file</b>

In [4]:
ski_data_df=pd.read_csv('updated_ski_data.csv')
ski_data_df.head(5)

,Name,Region,state,summit_elev,vertical_drop,base_elev,trams,fastEight,fastSixes,fastQuads,...,LongestRun_mi,SkiableTerrain_ac,Snow Making_ac,daysOpenLastYear,yearsOpen,averageSnowfall,AdultWeekday,AdultWeekend,projectedDaysOpen,NightSkiing_ac
0,Alyeska Resort,Alaska,Alaska,3939,2500,250,1,0.0,0,2,...,1.0,1610.0,113.0,150.0,60.0,669.0,65.0,85.0,150.0,550.0
1,Eaglecrest Ski Area,Alaska,Alaska,2600,1540,1200,0,0.0,0,0,...,2.0,640.0,60.0,45.0,44.0,350.0,47.0,53.0,90.0,NaN
2,Hilltop Ski Area,Alaska,Alaska,2090,294,1796,0,0.0,0,0,...,1.0,30.0,30.0,150.0,36.0,69.0,30.0,34.0,152.0,30.0
3,Arizona Snowbowl,Arizona,Arizona,11500,2300,9200,0,0.0,1,0,...,2.0,777.0,104.0,122.0,81.0,260.0,89.0,89.0,122.0,NaN
4,Sunrise Park Resort,Arizona,Arizona,11100,1800,9200,0,NaN,0,1,...,1.2,800.0,80.0,115.0,49.0,250.0,74.0,78.0,104.0,80.0

# Data Organization

In [5]:
path =os.getcwd()

In [6]:
print ("The current working directory is %s" % path)

The current working directory is C:\Users\SANJAY\Springboard\Guided-capstone-Unit-6

# Create subfolders in your project directory

In [7]:
os.listdir() # List of folders created and confirm it- data , figures,models

['.ipynb_checkpoints',
 'data',
 'figures',
 'Guided-Capstone-Data-Wrangling.ipynb',
 'models',
 'ski_data_dict.png',
 'updated_ski_data.csv']

# Data Definition
Review column names, data types and null values

In [8]:
print(ski_data_df.columns)

Index(['Name', 'Region', 'state', 'summit_elev', 'vertical_drop', 'base_elev',
       'trams', 'fastEight', 'fastSixes', 'fastQuads', 'quad', 'triple',
       'double', 'surface', 'total_chairs', 'Runs', 'TerrainParks',
       'LongestRun_mi', 'SkiableTerrain_ac', 'Snow Making_ac',
       'daysOpenLastYear', 'yearsOpen', 'averageSnowfall', 'AdultWeekday',
       'AdultWeekend', 'projectedDaysOpen', 'NightSkiing_ac'],
      dtype='object')

In [9]:
print(ski_data_df.dtypes) # Data Types of the columns

Name                  object
Region                object
state                 object
summit_elev            int64
vertical_drop          int64
base_elev              int64
trams                  int64
fastEight            float64
fastSixes              int64
fastQuads              int64
quad                   int64
triple                 int64
double                 int64
surface                int64
total_chairs           int64
Runs                 float64
TerrainParks         float64
LongestRun_mi        float64
SkiableTerrain_ac    float64
Snow Making_ac       float64
daysOpenLastYear     float64
yearsOpen            float64
averageSnowfall      float64
AdultWeekday         float64
AdultWeekend         float64
projectedDaysOpen    float64
NightSkiing_ac       float64
dtype: object

In [10]:
print(ski_data_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 330 entries, 0 to 329
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               330 non-null    object
 1   Region             330 non-null    object
 2   state              330 non-null    object
 3   summit_elev        330 non-null    int64
 4   vertical_drop      330 non-null    int64
 5   base_elev          330 non-null    int64
 6   trams              330 non-null    int64
 7   fastEight          164 non-null    float64
 8   fastSixes          330 non-null    int64
 9   fastQuads          330 non-null    int64
 10  quad               330 non-null    int64
 11  triple             330 non-null    int64
 12  double             330 non-null    int64
 13  surface            330 non-null    int64
 14  total_chairs       330 non-null    int64
 15  Runs               326 non-null    float64
 16  TerrainParks       279 non-null    float64
 17  LongestRun_mi      325 non-null    float64
 18  SkiableTerrain_ac  327 non-null    float64
 19  Snow Making_ac     284 non-null    float64
 20  daysOpenLastYear   279 non-null    float64
 21  yearsOpen          329 non-null    float64
 22  averageSnowfall    316 non-null    float64
 23  AdultWeekday       276 non-null    float64
 24  AdultWeekend       279 non-null    float64
 25  projectedDaysOpen  283 non-null    float64
 26  NightSkiing_ac     187 non-null    float64
dtypes: float64(13), int64(11), object(3)
memory usage: 69.7+ KB
None

<img src='ski_data_dict.png'/>

In [11]:
print(ski_data_df.nunique()) #count of unique values for every column, regardless of data type

Name                 329
Region                38
state                 35
summit_elev          266
vertical_drop        193
base_elev            244
trams                  5
fastEight              2
fastSixes              7
fastQuads             14
quad                   7
triple                 9
double                10
surface               12
total_chairs          31
Runs                 110
TerrainParks          11
LongestRun_mi         42
SkiableTerrain_ac    193
Snow Making_ac       143
daysOpenLastYear     111
yearsOpen             72
averageSnowfall      107
AdultWeekday          83
AdultWeekend          81
projectedDaysOpen     90
NightSkiing_ac        78
dtype: int64

In [12]:
#Print the percent of unique values per column. 
#Use the df.nunique and the size of the dataframe to calculate the percentages.  Clarify????
print(ski_data_df.nunique().value_counts(normalize=True).mul(100).round(2))

193    7.41
7      7.41
31     3.70
110    3.70
2      3.70
35     3.70
11     3.70
5      3.70
38     3.70
72     3.70
329    3.70
266    3.70
12     3.70
42     3.70
14     3.70
143    3.70
81     3.70
9      3.70
83     3.70
244    3.70
111    3.70
90     3.70
10     3.70
78     3.70
107    3.70
dtype: float64

In [13]:
print(ski_data_df.state.value_counts())

New York          33
Michigan          29
Colorado          22
California        21
Pennsylvania      19
Wisconsin         16
New Hampshire     16
Vermont           15
Minnesota         14
Utah              13
Idaho             12
Montana           12
Massachusetts     11
Washington        10
Oregon            10
Maine              9
New Mexico         9
Wyoming            8
North Carolina     6
Connecticut        5
Ohio               5
Illinois           4
Nevada             4
West Virginia      4
Virginia           4
Alaska             3
Iowa               3
Missouri           2
New Jersey         2
Arizona            2
South Dakota       2
Indiana            2
Tennessee          1
Maryland           1
Rhode Island       1
Name: state, dtype: int64

In [14]:
print(ski_data_df.Region.value_counts())

New York               33
Michigan               29
Sierra Nevada          22
Colorado               22
Pennsylvania           19
New Hampshire          16
Wisconsin              16
Vermont                15
Minnesota              14
Idaho                  12
Montana                12
Massachusetts          11
Washington             10
Maine                   9
New Mexico              9
Wyoming                 8
Utah                    7
North Carolina          6
Salt Lake City          6
Oregon                  6
Ohio                    5
Connecticut             5
Illinois                4
Mt. Hood                4
Virginia                4
West Virginia           4
Iowa                    3
Alaska                  3
Missouri                2
Arizona                 2
Indiana                 2
New Jersey              2
Nevada                  2
South Dakota            2
Maryland                1
Tennessee               1
Rhode Island            1
Northern California     1
Name: Region, dtype: int64

In [15]:
print((ski_data_df.agg([min,max])).T) #Range of values per column

                                min                            max
Name               49 Degrees North  Yosemite Ski & Snowboard Area
Region                       Alaska                        Wyoming
state                        Alaska                        Wyoming
summit_elev                     315                          13487
vertical_drop                    60                           4425
base_elev                        70                          10800
trams                             0                              4
fastEight                         0                              1
fastSixes                         0                              6
fastQuads                         0                             15
quad                              0                              8
triple                            0                              8
double                            0                             14
surface                           0                             15
total_chairs                      0                             41
Runs                              3                            341
TerrainParks                      1                             14
LongestRun_mi                     0                              6
SkiableTerrain_ac                 8                          26819
Snow Making_ac                    2                           3379
daysOpenLastYear                  3                            305
yearsOpen                         6                           2019
averageSnowfall                  18                            669
AdultWeekday                     15                            179
AdultWeekend                     17                            179
projectedDaysOpen                30                            305
NightSkiing_ac                    2                            650

In [16]:
print(ski_data_df.describe().T)

                   count         mean          std    min      25%     50%  \
summit_elev        330.0  4591.818182  3735.535934  315.0  1403.75  3127.5
vertical_drop      330.0  1215.427273   947.864557   60.0   461.25   964.5
base_elev          330.0  3374.000000  3117.121621   70.0   869.00  1561.5
trams              330.0     0.172727     0.559946    0.0     0.00     0.0
fastEight          164.0     0.006098     0.078087    0.0     0.00     0.0
fastSixes          330.0     0.184848     0.651685    0.0     0.00     0.0
fastQuads          330.0     1.018182     2.198294    0.0     0.00     0.0
quad               330.0     0.933333     1.312245    0.0     0.00     0.0
triple             330.0     1.500000     1.619130    0.0     0.00     1.0
double             330.0     1.833333     1.815028    0.0     1.00     1.0
surface            330.0     2.621212     2.059636    0.0     1.00     2.0
total_chairs       330.0     8.266667     5.798683    0.0     5.00     7.0
Runs               326.0    48.214724    46.364077    3.0    19.00    33.0
TerrainParks       279.0     2.820789     2.008113    1.0     1.00     2.0
LongestRun_mi      325.0     1.433231     1.156171    0.0     0.50     1.0
SkiableTerrain_ac  327.0   739.801223  1816.167441    8.0    85.00   200.0
Snow Making_ac     284.0   174.873239   261.336125    2.0    50.00   100.0
daysOpenLastYear   279.0   115.103943    35.063251    3.0    97.00   114.0
yearsOpen          329.0    63.656535   109.429928    6.0    50.00    58.0
averageSnowfall    316.0   185.316456   136.356842   18.0    69.00   150.0
AdultWeekday       276.0    57.916957    26.140126   15.0    40.00    50.0
AdultWeekend       279.0    64.166810    24.554584   17.0    47.00    60.0
projectedDaysOpen  283.0   120.053004    31.045963   30.0   100.00   120.0
NightSkiing_ac     187.0   100.395722   105.169620    2.0    40.00    72.0

                       75%      max
summit_elev        7806.00  13487.0
vertical_drop      1800.00   4425.0
base_elev          6325.25  10800.0
trams                 0.00      4.0
fastEight             0.00      1.0
fastSixes             0.00      6.0
fastQuads             1.00     15.0
quad                  1.00      8.0
triple                2.00      8.0
double                3.00     14.0
surface               3.00     15.0
total_chairs         10.00     41.0
Runs                 60.00    341.0
TerrainParks          4.00     14.0
LongestRun_mi         2.00      6.0
SkiableTerrain_ac   690.00  26819.0
Snow Making_ac      200.50   3379.0
daysOpenLastYear    135.00    305.0
yearsOpen            69.00   2019.0
averageSnowfall     300.00    669.0
AdultWeekday         71.00    179.0
AdultWeekend         77.50    179.0
projectedDaysOpen   139.50    305.0
NightSkiing_ac      114.00    650.0

<b>Data Cleaning</b>
<b>Handle the missing and NA values</b>

In [17]:
nas=pd.DataFrame(ski_data_df.isnull().sum().sort_values(ascending=False)/len(ski_data_df),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]

                    percent
fastEight          0.503030
NightSkiing_ac     0.433333
AdultWeekday       0.163636
AdultWeekend       0.154545
daysOpenLastYear   0.154545
TerrainParks       0.154545
projectedDaysOpen  0.142424
Snow Making_ac     0.139394
averageSnowfall    0.042424
LongestRun_mi      0.015152
Runs               0.012121
SkiableTerrain_ac  0.009091
yearsOpen          0.003030

In [18]:
ski_data_df['AdultWeekday'].fillna((ski_data_df['AdultWeekday'].mean()), inplace=True)

<b>Look for duplicate rows </b>

In [19]:
duplicateRowsDF = ski_data_df[ski_data_df.duplicated()]
duplicateRowsDF

Empty DataFrame
Columns: [Name, Region, state, summit_elev, vertical_drop, base_elev, trams, fastEight, fastSixes, fastQuads, quad, triple, double, surface, total_chairs, Runs, TerrainParks, LongestRun_mi, SkiableTerrain_ac, Snow Making_ac, daysOpenLastYear, yearsOpen, averageSnowfall, AdultWeekday, AdultWeekend, projectedDaysOpen, NightSkiing_ac]
Index: []

[0 rows x 27 columns]

In [23]:
ski_data_df.to_csv('step2_output.csv',encoding='utf-8', index=True)

In [24]:
pwd

'C:\\Users\\SANJAY\\Springboard\\Guided-capstone-Unit-6'

In [25]:
ls

 Volume in drive C is Windows
 Volume Serial Number is B403-50FE

 Directory of C:\Users\SANJAY\Springboard\Guided-capstone-Unit-6

07-06-2020  03:56 PM    <DIR>          .
07-06-2020  03:56 PM    <DIR>          ..
03-06-2020  08:28 PM    <DIR>          .ipynb_checkpoints
03-06-2020  09:05 PM    <DIR>          data
03-06-2020  09:06 PM    <DIR>          figures
07-06-2020  03:54 PM            40,030 Guided-Capstone-Data-Wrangling.ipynb
03-06-2020  09:06 PM    <DIR>          models
03-06-2020  09:17 PM            90,054 ski_data_dict.png
07-06-2020  03:56 PM            44,416 step2_output.csv
03-06-2020  08:19 PM            35,431 updated_ski_data.csv
               4 File(s)        209,931 bytes
               6 Dir(s)  94,948,171,776 bytes free